<div th:fragment="html">
  <script>

  </script>

  <title>模仿天猫官网 -- {{p.name}}</title>
  <div class="categoryPictureInProductPageDiv">
    <img v-if="category!=null" class="categoryPictureInProductPage" :src="'img/category/'+category.id+'.jpg'">
  </div>
  <div class="productPageDiv">
    <div th:replace="include/fore/product/imgAndInfo::html"></div>
    <div th:replace="include/fore/product/productReview::html"></div>
    <div th:replace="include/fore/product/productDetail::html"></div>
  </div>
</div>